Repository zaheyak/Content-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @content-studio-team, @backend-team, @senior-developers, @qa-team, @frontend-team, @devops-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Global code owners
* @content-studio-team

# Backend specific
/backend/ @backend-team
/backend/src/ @backend-team @senior-developers
/backend/tests/ @backend-team @qa-team

# Frontend specific
/frontend/ @frontend-team
/frontend/src/ @frontend-team @senior-developers
/frontend/tests/ @frontend-team @qa-team

# Database and infrastructure
/database/ @devops-team @backend-team
/prisma/ @backend-team @devops-team

# Documentation
/docs/ @content-studio-team @technical-writers
/README.md @content-studio-team

# CI/CD and deployment
/.github/ @devops-team @senior-developers
/.github/workflows/ @devops-team

# Configuration files
/package.json @content-studio-team
/backend/package.json @backend-team
/frontend/package.json @frontend-team

# Security sensitive files
/.env* @devops-team @security-team
/secrets/ @security-team @devops-team

Update lesson-3-content.json with correct file paths for presentation, mindmap, and images
  backend/mock-data/lesson-3-content.json
  backend/uploads/lessons/3/explain.webp
  backend/uploads/lessons/3/mind.webp
Owners: @backend-team

Fix JSX syntax error and remove hardcoded Railway URLs - use VITE_API_URL environment variable instead
  backend/mock-data/lesson-3-content.json
  frontend/src/App-NewUI.jsx
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/InteractiveMindMap.jsx
  frontend/src/components/ContentCreation/MindMapContentCreation.jsx
  frontend/src/components/ContentCreation/PresentationContentCreation.jsx
  frontend/src/components/ContentCreation/VideoContentCreation.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/services/dataService.js
Owners: @backend-team, @frontend-team, @senior-developers

Fix duplicate fs require statements in content.js - server now starts successfully
  backend/src/routes/content.js
Owners: @backend-team, @senior-developers

Add debug logging to openContentCreation function to troubleshoot Create Content button issue
  backend/mock-data/course_builder.json
  backend/mock-data/skills_engine.json
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
  frontend/src/context/AppContext.jsx
  frontend/tailwind.config.js
Owners: @backend-team, @frontend-team, @senior-developers

Remove excessive debug logging and fix server startup - Create Content button should now work
  frontend/src/context/AppContext.jsx
Owners: @frontend-team, @senior-developers

Fix ContentCreationWorkflow syntax errors and button functionality
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ModalsManager.jsx
Owners: @frontend-team, @senior-developers

Restore original ContentCreationWorkflow styling and features
  tored sophisticated styling with theme integration
Owners: @content-studio-team

Fix lesson content loading and restore ContentCreationWorkflow styling
  backend/data/lesson-3.json
Owners: @backend-team

Fix syntax error in ContentCreationWorkflow.jsx - Fix missing closing brace for if statement - Resolve build error on Vercel deployment - Ensure proper try-catch structure
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Add debugging logs to TemplateBasedLessonView - Add console logs to check video and presentation content - Debug why content is not displaying properly
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Simplify iframe structure for video display - Remove videoWrapper div - Use clean iframe structure like user example - Keep dynamic src and title from content
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Add debug logs to TemplateBasedLessonView - Add console logs to debug why content is not displaying - Check video and presentation content conditions - Debug content loading issues
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Add debug log for mindmap display - Add console log to debug why mindmap image is not showing - Check mindmap content loading
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Add online viewing option for presentations - Add View Online button for PowerPoint presentations - Use Microsoft Office Online viewer - Keep Download option as well
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Final update: Complete green theme for TemplateBasedLessonView dark mode
  backend/mock-data/lesson-3-content.json
  backend/uploads/lessons/3/explain.webp
  backend/uploads/lessons/3/mind.png
  backend/uploads/lessons/3/mind.webp
  desktop.ini
Owners: @backend-team, @content-studio-team

Fix image file paths in backend - Update fixFilePaths function to handle both video and image files - Ensure images get full URL paths from backend - Fix image display in TemplateBasedLessonView
  backend/src/routes/content.js
Owners: @backend-team, @senior-developers

Add debug logs for image display in TemplateBasedLessonView
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Update mindmap filename from mind.webp to mind.png in lesson-3.json
  backend/data/lesson-3.json
Owners: @backend-team
