Repository zaheyak/Content-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @content-studio-team, @backend-team, @senior-developers, @qa-team, @frontend-team, @devops-team, @technical-writers, @security-team

Add debugging for OpenAI API key detection
  backend/package.json
  backend/src/server.js
  backend/src/services/OpenAIService.js
Owners: @backend-team, @senior-developers

Add complete environment variables debugging
  backend/src/server.js
Owners: @backend-team, @senior-developers

Fix OpenAI SDK initialization and package installation
  backend/package.json
  backend/src/server.js
  package-lock.json
Owners: @backend-team, @senior-developers, @content-studio-team

Fix OpenAI API integration and content display
  frontend/src/components/ContentCreation/TextContentCreation.jsx
Owners: @frontend-team, @senior-developers

Fix View button content display issue
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Separate course lessons from standalone lessons
  frontend/src/components/Lessons.jsx
  frontend/src/components/NewLessonCreation.jsx
  frontend/src/pages/LessonsPage.jsx
Owners: @frontend-team, @senior-developers

Add 3 standalone lessons with different content levels
  backend/mock-data/lessons.json
  backend/mock-data/loader.js
  backend/mock-data/standalone-lesson-1-content.json
  backend/mock-data/standalone-lesson-2-content.json
  backend/mock-data/standalone-lesson-3-content.json
Owners: @backend-team

Add YouTube video integration to Content Creation
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/VideoContentCreation.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateBasedLessonView to display real content from localStorage
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateBasedLessonView to read template from URL parameters
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix formatKey undefined error in TemplateBasedLessonView
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix lesson content loading and add debugging
  frontend/src/components/TemplateBasedLessonView.jsx
  frontend/src/components/TemplateSelector.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateSelector navigation and lesson ID passing
  frontend/src/components/TemplateSelector.jsx
  frontend/src/context/AppContext.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateBasedLessonView content structure handling
  frontend/src/components/ContentCreation/UI/ContentBlocks.jsx
  frontend/src/components/ContentCreation/UI/Demo.jsx
  frontend/src/components/ContentCreation/UI/Layout.jsx
  frontend/src/components/ContentCreation/UI/LessonPage.jsx
  frontend/src/components/ContentCreation/UI/Primitives.jsx
  frontend/src/components/ContentCreation/UI/README.md
  frontend/src/components/ContentCreation/UI/Sidebar.jsx
  frontend/src/components/ContentCreation/UI/index.js
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Add file upload support for presentations and mind maps
  backend/mock-data/standalone-lesson-1-content.json
  backend/src/routes/upload.js
  backend/src/server.js
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/MindMapContentCreation.jsx
  frontend/src/components/ContentCreation/PresentationContentCreation.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix navigation issues in ContentCreationWorkflow
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Fix template loading issue in TemplateBasedLessonView
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix content saving: Add backend JSON persistence and localStorage integration
  backend/mock-data/lesson-test-lesson-content.json
  backend/mock-data/loader.js
  backend/src/routes/content.js
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix content display: Show actual files instead of paths
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Remove localStorage completely - Save everything to backend only
  backend/src/routes/upload.js
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix lesson content isolation - prevent cross-lesson content display
  backend/mock-data/loader.js
  backend/src/routes/content.js
Owners: @backend-team, @senior-developers

Update ContentCreationWorkflow: Replace Edit Content with Save Content
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateBasedLessonView content display
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix View button URLs in ContentCreationWorkflow
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Replace static JSON files with JavaScript variables and remove localStorage
  backend/src/data/lessonsData.js
  backend/src/routes/content.js
  backend/src/routes/upload.js
  frontend/src/App-NewUI.jsx
  frontend/src/context/AppContext.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix file upload issues and prevent duplicate uploads
  backend/src/routes/upload.js
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Add support for uploaded videos in TemplateBasedLessonView
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Clear old localStorage data on app load
  frontend/src/App.jsx
Owners: @frontend-team, @senior-developers

Fix API URLs and image generation
  backend/mock-data/lesson-test-lesson-123-content.json
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/ImageContentCreation.jsx
  frontend/src/components/ContentCreation/TextContentCreation.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @backend-team, @frontend-team, @senior-developers

Fix content saving and display issues
  backend/src/routes/upload.js
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix content saving issue
  backend/mock-data/lesson-3-content.json
  backend/routes/upload.js
  backend/src/data/lessonsData.js
  backend/src/routes/content.js
Owners: @backend-team, @senior-developers

Change success message to English
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Fix file display and upload issues
  frontend/src/components/ContentCreation/ImageContentCreation.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix file upload - send lessonId as query parameter instead of body
  backend/src/routes/upload.js
  backend/uploads/lessons/default/presentation/test_1761585311762.pptx
  backend/uploads/lessons/default/presentation/test_1761585356997.pptx
  backend/uploads/lessons/default/presentation/test_1761585395323.pptx
  backend/uploads/lessons/default/presentation/test_1761585479221.pptx
  backend/uploads/lessons/default/presentation/test_1761585613053.pptx
  backend/uploads/lessons/default/presentations/test_1761585892493.pptx
  backend/uploads/lessons/default/presentations/test_1761586003059.pptx
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/ImageContentCreation.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix file upload issues: 1. Delete default directory 2. Fix lessonId handling in all upload endpoints 3. Fix file URLs in TemplateBasedLessonView
  backend/src/routes/upload.js
  backend/uploads/lessons/default/presentation/test_1761585311762.pptx
  backend/uploads/lessons/default/presentation/test_1761585356997.pptx
  backend/uploads/lessons/default/presentation/test_1761585395323.pptx
  backend/uploads/lessons/default/presentation/test_1761585479221.pptx
  backend/uploads/lessons/default/presentation/test_1761585613053.pptx
  backend/uploads/lessons/default/presentations/test_1761585892493.pptx
  backend/uploads/lessons/default/presentations/test_1761586003059.pptx
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix YouTube video display in TemplateBasedLessonView: 1. Add proper embed URL fallback 2. Improve video display with title and duration 3. Add Watch on YouTube and Copy URL buttons
  frontend/src/components/TemplateBasedLessonView.jsx
Owners: @frontend-team, @senior-developers

Fix View button: Remove alert popup, keep only the nice modal with proper content handling
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Fix syntax error: Add missing closing brace for else block in handleViewFormat
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
Owners: @frontend-team, @senior-developers

Update backend package.json and package-lock.json
  backend/package.json
  package-lock.json
Owners: @backend-team, @content-studio-team

Fix content persistence: Save to JSON files and fix API URLs
  backend/src/routes/content.js
  frontend/src/App-NewUI.jsx
  frontend/src/components/ContentCreation/InteractiveMindMap.jsx
  frontend/src/components/ContentCreation/MindMapContentCreation.jsx
  frontend/src/components/ContentCreation/PresentationContentCreation.jsx
  frontend/src/components/ContentCreation/VideoContentCreation.jsx
  frontend/src/components/Header.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/services/dataService.js
Owners: @backend-team, @senior-developers, @frontend-team

.github/CODEOWNERS:

# Global code owners
* @content-studio-team

# Backend specific
/backend/ @backend-team
/backend/src/ @backend-team @senior-developers
/backend/tests/ @backend-team @qa-team

# Frontend specific
/frontend/ @frontend-team
/frontend/src/ @frontend-team @senior-developers
/frontend/tests/ @frontend-team @qa-team

# Database and infrastructure
/database/ @devops-team @backend-team
/prisma/ @backend-team @devops-team

# Documentation
/docs/ @content-studio-team @technical-writers
/README.md @content-studio-team

# CI/CD and deployment
/.github/ @devops-team @senior-developers
/.github/workflows/ @devops-team

# Configuration files
/package.json @content-studio-team
/backend/package.json @backend-team
/frontend/package.json @frontend-team

# Security sensitive files
/.env* @devops-team @security-team
/secrets/ @security-team @devops-team
