Repository zaheyak/Content-Studio, changes with the owners that .github/CODEOWNERS names for each.
All owners: @content-studio-team, @backend-team, @senior-developers, @qa-team, @frontend-team, @devops-team, @technical-writers, @security-team

.github/CODEOWNERS:

# Global code owners
* @content-studio-team

# Backend specific
/backend/ @backend-team
/backend/src/ @backend-team @senior-developers
/backend/tests/ @backend-team @qa-team

# Frontend specific
/frontend/ @frontend-team
/frontend/src/ @frontend-team @senior-developers
/frontend/tests/ @frontend-team @qa-team

# Database and infrastructure
/database/ @devops-team @backend-team
/prisma/ @backend-team @devops-team

# Documentation
/docs/ @content-studio-team @technical-writers
/README.md @content-studio-team

# CI/CD and deployment
/.github/ @devops-team @senior-developers
/.github/workflows/ @devops-team

# Configuration files
/package.json @content-studio-team
/backend/package.json @backend-team
/frontend/package.json @frontend-team

# Security sensitive files
/.env* @devops-team @security-team
/secrets/ @security-team @devops-team

Fix Vercel configuration for Vite + React
  frontend/vercel.json
Owners: @frontend-team

Add
  package.json
Owners: @content-studio-team

Update all API calls to use REACT_APP_API_URL environment variable
  backend/src/server.js
  frontend/src/App-NewUI.jsx
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/ImageContentCreation.jsx
  frontend/src/components/ContentCreation/InteractiveMindMap.jsx
  frontend/src/components/ContentCreation/TextContentCreation.jsx
  frontend/src/components/ContentCreation/VideoContentCreation.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/Lessons.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/services/dataService.js
Owners: @backend-team, @senior-developers, @frontend-team

Fix environment variables to use VITE_API_URL for Vite compatibility
  frontend/src/App-NewUI.jsx
  frontend/src/components/ContentCreation/ContentCreationWorkflow.jsx
  frontend/src/components/ContentCreation/ImageContentCreation.jsx
  frontend/src/components/ContentCreation/InteractiveMindMap.jsx
  frontend/src/components/ContentCreation/TextContentCreation.jsx
  frontend/src/components/ContentCreation/VideoContentCreation.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/TemplateBasedLessonView.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/services/dataService.js
Owners: @frontend-team, @senior-developers

Improve styling with better gradients, colors, and animations
  frontend/src/components/Lessons.jsx
Owners: @frontend-team, @senior-developers

Update header logo size and navigation button styling
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.jsx
  frontend/src/components/Courses.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/Lessons.jsx
  frontend/src/components/LoadingSpinner.jsx
  frontend/src/components/NewLessonCreation.jsx
  frontend/src/context/AppContext.jsx
  frontend/src/index.css
  package-lock.json
Owners: @frontend-team, @senior-developers, @content-studio-team

Fix Vercel deployment: Update dependencies and PostCSS config
  frontend/package.json
  frontend/postcss.config.js
  package-lock.json
Owners: @frontend-team, @content-studio-team

Update components and fix styling
  frontend/src/components/Courses.jsx
  frontend/src/components/Header.jsx
  frontend/src/components/Lessons.jsx
  frontend/src/pages/HomePage.jsx
Owners: @frontend-team, @senior-developers

Add Gemini AI integration for text generation and content creation
  backend/mock-data/content_studio_core.json
  backend/mock-data/course_builder.json
  backend/mock-data/devlab.json
  backend/mock-data/directory.json
  backend/mock-data/learning_analytics.json
  backend/mock-data/rag_chatbot.json
  backend/mock-data/skills_engine.json
  backend/package.json
  backend/src/routes/ai.js
  backend/src/services/GeminiService.js
  frontend/src/components/Courses.jsx
  frontend/src/components/Lessons.jsx
  package-lock.json
Owners: @backend-team, @senior-developers, @frontend-team, @content-studio-team

Fix GeminiService import path
  backend/src/routes/ai.js
Owners: @backend-team, @senior-developers

Fix API endpoints and lesson creation requirements
  backend/src/routes/ai.js
  backend/src/routes/lessons.js
  frontend/src/components/ContentCreation/TextContentCreation.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix geminiService.js file deployment to Railway
  backend/src/services/GeminiService.js
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Add better error handling for Gemini API key issues
  backend/src/routes/ai.js
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Gemini model name from 1.5-flash to 1.5-pro
  backend/src/routes/ai.js
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix multiple issues: navigation, CSS conflicts, and AI generation
  backend/mock-data/lessons.json
  backend/src/server.js
  backend/src/services/geminiService.js
  frontend/src/components/ContentCreation/TextContentCreation.jsx
  frontend/src/components/ModalsManager.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix Gemini model compatibility issue
  backend/src/routes/ai.js
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Update Gemini model to gemini-1.5-pro-latest
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Update geminiService.js model config (flash/pro auto selection)
  tatus
Owners: @content-studio-team

Fix Gemini model to gemini-1.5-flash (compatible with free tier)
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Gemini model to gemini-1.5-pro-latest for Railway deployment
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Gemini model to gemini-pro (stable model)
  backend/src/routes/ai.js
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Gemini API version to v1
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Gemini integration using stable v1 API and gemini-pro model
  backend/package.json
  package-lock.json
Owners: @backend-team, @content-studio-team

Update Gemini SDK and switch to v1 API (gemini-pro model)
  backend/package.json
  package-lock.json
Owners: @backend-team, @content-studio-team

Fix Gemini API version to v1 and switch to gemini-1.5-flash
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Add Gemini SDK version log for debugging
  backend/src/server.js
Owners: @backend-team, @senior-developers

Fix: use models/gemini-1.5-flash with v1 endpoint
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Force clean build with npm ci to rebuild cache
  backend/railway.json
Owners: @backend-team

Fix build: use safe npm ci clean build
  backend/railway.json
Owners: @backend-team

Revert railway.json to normal build config
  backend/railway.json
Owners: @backend-team

Fix template selector navigation
  backend/src/services/geminiService.js
  frontend/src/context/AppContext.jsx
Owners: @backend-team, @senior-developers, @frontend-team

Fix input text visibility in TextContentCreation
  frontend/src/components/ContentCreation/TextContentCreation.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateSelector dark mode and navigation
  frontend/src/components/TemplateSelector.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateSelector TypeError
  frontend/src/components/TemplateSelector.jsx
Owners: @frontend-team, @senior-developers

Fix TemplateSelector build error
  frontend/src/components/TemplateSelector.jsx
Owners: @frontend-team, @senior-developers

Fix Gemini API integration - systematic resolution
  backend/package.json
  backend/railway.json
  backend/src/services/geminiService.js
Owners: @backend-team, @senior-developers

Fix Railway build cache issue
  backend/railway.json
Owners: @backend-team

Fix package-lock.json sync issue for Vercel
  package-lock.json
Owners: @content-studio-team

Fix Vercel build issues
  frontend/package.json
  frontend/src/components/TemplateSelector.jsx
  package-lock.json
Owners: @frontend-team, @senior-developers, @content-studio-team

Replace Gemini API with OpenAI API integration
  backend/package.json
  backend/src/routes/ai.js
  backend/src/server.js
  backend/src/services/OpenAIService.js
  backend/src/services/geminiService.js
  package-lock.json
Owners: @backend-team, @senior-developers, @content-studio-team
